<%= error_messages_for 'person' %>

<!--[form:person]-->
<p><label for="person_iconserver">Iconserver</label><br/>
<%= text_field 'person', 'iconserver'  %></p>

<p><label for="person_username">Username</label><br/>
<%= text_field 'person', 'username'  %></p>

<p><label for="person_photosurl">Photosurl</label><br/>
<%= text_field 'person', 'photosurl'  %></p>
<!--[eoform:person]-->

