<%= render :partial => 'admin/breadcrumbs' %>
<hr/>
<h1>Score report</h1>

<a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a><br/><br/>

<textarea name="textfield" onFocus="this.select();" rows="50" style="width: 800px;" wrap="virtual"><%= @html %></textarea>

<hr/>
<%= render :partial => 'admin/breadcrumbs' %>
