<% sandwich 'shared/admin/breadcrumbs' do %>
<h1>Score report</h1>

<a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a> - <a href="#preview">Preview</a><br/><br/>

<textarea name="textfield" rows="50" cols="100" onfocus="this.select();"><%= @html %></textarea>

<h2><a name="preview">Preview</a></h2>
<%= @topic_content %>

<% end %>
