/* General */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  font-weight: bold;
}

/* Tables */

table {
  padding: 0px;
  margin: 6px 0px 0px 0px;
}

th {
  text-align: left
}

tr.odd td {
  background-color: #eeffee
}

td.number {
  text-align: right
}

/* Heavy table style */

td.cellspace {
  padding: 0px 10px 0px 10px;
}

td.dheader {
  padding: 3px 5px 3px 5px;
  font-size: 11px;
  font-weight: bold;
  vertical-align: top;
  border-left:  1px solid #ffffff;
  border-bottom:  1px solid #ffffff;
  background-color: #dddddd;
}

td.dvalue {
  padding: 3px 5px 3px 5px;
  vertical-align: top;
  border-left:  1px solid #ffffff;
  border-bottom:  1px solid #ffffff;
  background-color: #eeeeee;
}

td.dcurrency {
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  border-left:  1px solid #ffffff;
  border-bottom:  1px solid #ffffff;
  background-color: #eeeeee;
}

td.dnum {
  padding: 3px 3px 3px 0px;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  background-color: #ffffff;
}

td.dholder {
  padding: 0px;
  vertical-align: top;
}

/* people/list */

th.number, td.number {
  text-align: right
}

/* people/show */

span.unconfirmed {
  background-color: #ffcc33;
}

/* photos/edit */

table.indented {
  font-size: 11px;
}

span.hilight {
  background-color: #cccccc;
}
