/* General */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  font-weight: bold;
}

/* Tables */

table {
  padding: 0px;
  margin: 6px 0px 0px 0px;
}

th {
  text-align: left;
}

/* Light table style */

.number {
  text-align: right;
}

.odd td {
  background-color: #eeffee;
}

/* Dark table style */

.dholder {
  padding: 0px;
  vertical-align: top;
}

.dark .empty {
  padding: 0px 10px 0px 10px;
  background-color: #ffffff;
}

.dark th, .comments th, .row-number {
  font-size: 11px;
  font-weight: bold;
}

.dark th, .comments th, .guess-count, .dvalue  {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #eeeeee;
  padding: 3px 5px 3px 5px;
}

.row-number {
  background-color: #ffffff;
  padding: 3px 3px 3px 0px;
  text-align: right;
}

.guess-count {
  font-weight: bold;
  text-align: right;
}

.guess_count, .dvalue {
  vertical-align: top;
}

/* people/show */

span.unconfirmed {
  background-color: #ffcc33;
}

/* photos/edit */

.comments {
  font-size: 11px;
}

.highlight {
  background-color: #cccccc;
}
