/* General */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  font-weight: bold;
}

img {
  border: 0;
}

.clear {
  clear: both;
}

.inline {
  display: inline-block;
  margin: 0 3px;
}

/* Tables */

table {
  padding: 0;
  margin-top: 6px;
}

th {
  text-align: left;
}

.dark .empty {
  border: 0;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
}

.dark th, .comments th, .row-number, .darker {
  font-size: 11px;
  font-weight: bold;
}

.dark th, .comments th, .dark td, .darker {
  padding: 3px 5px 3px 5px;
  vertical-align: top;
}

.dark th, .comments th, .dark td {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.dark th, .comments th {
  background-color: #dddddd;
}

.dark .row-number {
  background-color: #ffffff;
  padding: 3px 3px 3px 0;
  text-align: right;
  vertical-align: middle;
}

.dark td {
  background-color: #eeeeee;
}

.number {
  text-align: right;
}

/* root/index */

.new-list-item {
  color: red;
  display: inline-block;
  padding-left: 10px;
}

.spacious {
  line-height: 200%;
}

.error {
  color: red;
}

/* root/bookmarklet */

.new {
  color: red;
}

/* people/top_guessers, guesses/longest_and_shortest */

.opening-number {
  font-weight: bold;
  text-align: right;
}

/* people/top_guessers */

.container {
  margin: 0;
}

.container td {
  vertical-align: top;
}

.container table {
  width: 300px;
  margin: 0 0 18px 0;
}

.darker {
  background-color: #cccccc;
  margin: 0 0 18px 3px;
  width: 285px;
}

/* guesses/longest_and_shortest */

.thumbnail {
  text-align: center;
}

/* people/show */

.trophies {
  margin-left: 30px;
}

.trophies td {
  width: 110px;
  padding-right: 10px;
}

.trophies-text {
  vertical-align: top;
}

.trophies-places img, .trophies-places span {
  vertical-align: middle;
}

a.normal {
  font-weight: normal;
}

.unconfirmed {
  background-color: #ffcc33;
}

/* wheresies/index */

.float {
  float: left;
  padding-right: 30px;
}

/* admin/index */

.button-to, .button-to div {
  display: inline;
}

/* admin/photos/edit */

.comments {
  font-size: 11px;
}

.poster {
  background-color: #cccccc;
}

.correct {
  text-decoration: underline;
}

.dark .input {
  background-color: #ffffff;
  padding: 1px 0;
}

/* admin/score_reports/index */

.top-justified td {
  vertical-align: top;
}

.forget {
  width: 300px;
}
