<%= head_javascript 'app/admin/bookmarklet' %>
<%= title_and_h1 '"Edit in GWW" bookmarklet' %>

<p>This bookmarklet lets you jump from either a Flickr photo page or a GWW photo view page to that photo's GWW edit page.</p>

<a id="bookmarklet" href="">Edit in GWW</a>

<p>Install and use it <%= link_to 'the same way as the "View in GWW" bookmarklet', root_bookmarklet_path %>.</p>

<hr/>
<%= render 'shared/admin/breadcrumbs' %>
