<% if guess -%>
<td>
  <% if guess.seconds_old <= 60 %><img height="15" width="15" src="<%= fastest_star_image guess %>"/><% end %>
  <span><% if guess[:place] <= 10 %><a href="<%= url_for :controller => :guesses, :action => :longest_and_shortest %>"><% end %><%= ordinal guess[:place] %> place<% if guess[:place] <= 10 %>!</a><% end %></span>
</td>
<% end -%>
