<a href="<%= show_photo_path photo %>"><img src="<%= url_for_flickr_image photo, 't' %>" alt="<%= render :partial => 'shared/alt', :locals => { :photo => photo } %>" title="<%= render :partial => 'shared/alt', :locals => { :photo => photo } %>"/></a><% -%>
