<% content_for :title do %>Score reports<% end %>
<% sandwich do %>
<h1>Score reports</h1>

<table class="dark">
  <tr>
    <th>Published</th>
  </tr>
<% @score_reports.each do |report| -%>
  <tr>
    <td>
      <%= link_to report.created_at.getlocal.strftime('%b %e, %Y, %l:%M %p'), score_report_path(report.id) %>
    </td>
  </tr>
<% end -%>
</table>

<%= render 'provenance' -%>

<% end %>
