<% content_for :title do %>Score reports<% end %>
<% sandwich do %>
<h1>Score reports</h1>

<p>For the most recent score report, complete with discussion, see the
<a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a>.</p>

<table class="dark">
  <tr>
    <th>Published on</th>
    <th>Guesses scored</th>
    <th>Revelations scored</th>
  </tr>
<% @score_reports.each do |report| -%>
  <tr>
    <td>
      <%= link_to report.created_at.getlocal.strftime('%b %e, %Y, %l:%M %p'), score_report_path(report.id) %>
    </td>
    <td class="number"><%= @guess_counts[report.id] || 0 %></td>
    <td class="number"><%= @revelation_counts[report.id] || 0 %></td>
  </tr>
<% end -%>
</table>

<%= render 'provenance' -%>

<% end %>
