form div {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

input, select {
  margin-right: 3px;
}

.text-fields > input:first-of-type, .date-fields > input:first-of-type, .sort-fields > select:first-of-type, input[type=submit] {
  margin-bottom: 10px;
}

.text-fields > span {
  display: inline-block;
  width: 100px;
}

.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

form img {
  vertical-align: top;
  margin-top: 2px;
  margin-right: 6px;
}

#search-help-icon {
  font-size: 16px;
  font-weight: normal;
  margin-left: 3px;
  cursor: default;
}

.game-status > span {
  display: inline-block;
  margin-top: 3px;
}

.game-status > select {
  vertical-align: top;
  margin-right: 6px;
}

.date-fields > span {
  display: inline-block;
  width: 45px;
}

.date-fields input {
  width: 80px;
}

.sort-fields > span {
  display: inline-block;
  width: 63px;
}

.sort-fields > select, input[type=submit] {
  margin-top: 3px;
}

#search-help {
  display: none;
}

#search-help, #photos {
  margin-top: 12px;
}

.image {
  display: inline-block;
  height: 240px;
  line-height: 240px; /* the height in which the child's vertical-align: middle applies */
  margin: 0 8px 8px 0;
}

.image > div {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; /* reset line-height inherited from the parent */
}

.image > div > div {
  height: 66px;
  position: relative;
  bottom: 74px;
  padding: 8px 5px 0 5px;
  z-index: 1;
}

.image > div > .bg {
  bottom: 77px;
  margin-bottom: -77px;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}

.image > div > div p, .image > div > div .game-status {
  margin: 0 0 2px 0;
  color: white;
  font-size: 11px;
  text-shadow: 1px 1px 0 black;
  opacity: 1.0;
  visibility: hidden;
}

.image > div > div .by {
  visibility: visible;
}

.image > div > div a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.image > div > div a:hover {
  background-color: blue;
}

.image > div > div div {
  position: relative;
}

.image > div > div .game-status {
  position: absolute;
  top: 0;
  right: 0;
}

.image img {
  height: 240px;
}

.image.full {
  float: left;
  clear: left;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 14px;
  display: inline;
}

.comment-date {
  font-size: 11px;
  color: #bbbbbb;
}

.matched {
  background: yellow;
}

#loading-animation, #loading-animation > div {
  width: 20px;
  height: 20px;
}

#loading-animation {
  display: none;
}

#loading-animation > div {
  border-radius: 10px;
  margin-right: 2px;
  position: absolute;
}

#loading-animation > div:nth-child(1) {
  background: #0063dc;
  z-index: 1;
}

#loading-animation > div:nth-child(2) {
  background: #ff0084;
  z-index: 0;
}
