<% for column in Guess.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @guess.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @guess %> |
<%= link_to 'Back', :action => 'list' %>
