# MySQL (default setup).  Versions 4.1 and 5.0 are recommended.
#
# Install the MySQL driver:
#   gem install mysql
# On MacOS X:
#   gem install mysql -- --include=/usr/local/lib
# On Windows:
#   There is no gem for Windows.  Install mysql.so from RubyForApache.
#   http://rubyforge.org/projects/rubyforapache
#
# And be sure to use new-style password hashing:
#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html

defaults: &defaults
    adapter:  mysql
    username: XXX :NOTE: replace with database user name
    password: XXX :NOTE: replace with database password
    host:     localhost

development:
  database: gww_imported
  <<: *defaults

test:
  database: gww_test
  <<: *defaults

production:
  database: gww_production
  <<: *defaults

staging:
  database: gww_staging
  <<: *defaults

