<% content_for :title do %>Old score reports<% end %>
<% sandwich 'shared/admin/breadcrumbs' do %>
<h1>Old score reports</h1>

<table>
  <tr>
    <th>Published</th>
  </tr>
<% @score_reports.each_with_index do |report, i| %>
  <tr>
    <td>
      <%= link_to report.created_at.getlocal.strftime('%b %e, %Y, %l:%M:%S %p'), score_report_path(report.id) %>
    </td>
    <% if i == 0 && @score_reports.length > 1 && report.created_at > 1.day.ago %>
      <td>
        <% form_tag score_report_path(report), :method => :delete, :class => 'inline' do %>
          <%= submit_tag 'Forget', :confirm => 'Are you sure?' %>
        <% end -%>
        (Do this if you just published, maybe scored another photo, changed your mind and want to republish. This can't be undone!)
      </td>
    <% end %>
  </tr>
<% end -%>
</table>

<br/>
<% end %>
