<% content_for :title do %>Old score reports<% end %>
<% sandwich 'shared/admin/breadcrumbs' do %>
<h1>Old score reports</h1>

<p><%= link_to 'New score report', new_score_report_path %></p>

<table>
  <tr>
    <th>Published</th>
  </tr>
<% @score_reports.each_with_index do |report, i| %>
  <tr>
    <td>
      <%= link_to report.created_at.getlocal.strftime('%b %e, %Y, %l:%M:%S %p'), score_report_path(report.id) %>
    </td>
    <% if i == 0 && @score_reports.length > 1 && report.created_at > 1.day.ago %>
      <td>
        <% form_tag score_report_path(report), :method => :delete, :class => 'inline' do %>
          <%= submit_tag 'Forget', :confirm => 'Are you sure?' %>
        <% end -%>
        (Do this if you just published, maybe scored another photo, changed your mind and want to republish. This can't be undone!)
      </td>
    <% end %>
  </tr>
<% end -%>
</table>

<p>The times of score report publication up to the end of February 2011 were determined
automatically from the times that guesses and revelations were recorded. Probably due to
the evolution of this application, the report times from the first year or so
of GWSF don't seem reliable. They're fairly reliable for the last few years, and
starting in March 2011 they're genuinely accurate.</p>

<% end %>
