<% content_for :title do %>Score reports<% end %>
<% sandwich 'shared/admin/breadcrumbs' do %>
<h1>Score reports</h1>

<table>
  <tr>
    <th>Published</th>
  </tr>
<% @score_reports.each_with_index do |report, i| %>
  <tr>
    <td>
      <%= report.created_at.getlocal.strftime '%b %e, %Y, %l:%M:%S %p' %>
    </td>
    <% if i == 0 && @score_reports.length > 1 %>
      <td>
        <% form_tag score_report_path(report), :method => :delete, :class => 'inline' do %>
          <%= submit_tag 'Forget', :confirm => 'Are you sure?' %>
        <% end -%>
      </td>
    <% end %>
  </tr>
<% end -%>
</table>

<br/>
<% end %>
