<% content_for :title do %>New score report<% end %>
<% sandwich 'admin/score_reports/breadcrumbs' do %>
<h1>New score report</h1>

<p><a href="#preview">Preview</a> - <a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a></p>

<% form_tag score_reports_path, :method => 'post' do %>
  <%= submit_tag 'Remember that the score report below was published' %>
    Be sure to push this button after publishing to tell GWW where to start counting for the next score report.
    <span class="new">New!</span>
<% end -%>

<h2><label for="html">HTML</label></h2>
<textarea id="html" name="textfield" rows="50" cols="100" onfocus="this.select();"><%= @html %></textarea>

<h2><a name="preview">Preview</a></h2>
<%= @topic_content %>

<% end %>
