<% content_for :title do %>New score report<% end %>
<% sandwich 'admin/score_reports/breadcrumbs' do %>
<h1>New score report</h1>

<p><a href="#preview">Preview</a> - <a href="<%= FlickrCredentials::SCORE_TOPIC_URL %>">GWSF Scores discussion topic</a></p>

<% form_tag admin_score_reports_path do %>
  <%= submit_tag 'Remember that the score report below was published' %>
    Be sure to push this button after publishing to tell GWW where to start counting for the next score report!
<% end -%>

<h2><label for="html">HTML for Flickr</label></h2>
<textarea id="html" name="textfield" rows="50" cols="100" onfocus="this.select();"><%= @flickr_html %></textarea>

<h2><a name="preview">Preview</a></h2>
<%= @gww_html %>

<% end %>
