<%= render :partial => "show_game_status" %>
<%= render :partial => "guesses" %>
<%= start_form_tag :action => 'reload_comments', :id => @photo %>
<br/><br/>
<%= submit_tag("Reload Comments") %>
<%= end_form_tag %>
<br/><br/>
<%= button_to 'Delete this photo', { :action => 'destroy', :id => @photo }, :confirm => 'Are you sure?', :post => true %>
