<%= head_javascript 'app/shared/GWW', 'app/shared/map', 'app/photos/map' %>
<% content_for :head do javascript_tag '$(GWW.photos.map.setUp);' end %>
<%= sandwich do %>
<%= title_and_h1 'Mapped photos' %>

<div id="map_canvas"></div>

<p>Photos that were guessed or revealed recently are marked with darker colors;
photos that were guessed or revealed less recently are marked with lighter colors.
A limited number of photos can be shown on the map, so zoom in to see older photos.
Photos that are not mapped, or that are mapped only with low accuracy, are not shown or counted on this page.</p>

<% end %>
<%= render 'shared/config' %>
