<%= head_javascript 'app/shared/map', 'app/photos/map' %>
<%= sandwich do %>
<%= title_and_h1 'Mapped photos' %>

<div id="map_canvas"></div>

<p>Photos that were guessed or revealed recently are marked with darker colors;
photos that were guessed or revealed less recently are marked with lighter colors.
Photos that are not mapped, or that are mapped only with low accuracy, are not shown or counted on this page.</p>

<% end %>
<%= render 'shared/config' %>
