<% content_for :head do %>
  <%= javascript_include_tag :defaults, 'app/shared/map', 'app/photos/map' %>
<% end %>
<% content_for :title do %>Mapped photos<% end %>

<%= sandwich do %>
<h1>Mapped photos</h1>

<div id="map_canvas"></div>

<p>Photos that were guessed recently are marked with darker colors;
photos that were guessed less recently are marked with lighter colors.
Photos that are not mapped, or that are mapped only with low accuracy, are not shown or counted on this page.</p>

<% end %>
<%= render 'shared/config' %>
