<% sandwich do %>
<%= render :partial => 'image_and_status', :locals => { :size => nil } %>

<% if ! @comments.empty? -%>
<h2>Comments</h2>
<% @comments.each do |comment| -%>
  <b><%=h comment.username %> says:</b> <%= comment.comment_text %><br/>
<% end -%>
<% else -%>
No comments available.
<% end -%>

<br/>
<% end %>
