<% content_for :title do %>About<% end %>
<h1>About Guess Where Watcher</h1>

<p>Guess Where Watcher (GWW) is the scoring application for the Guess Where SF
Flickr group. It was written by <a
href="http://www.flickr.com/people/tma/">Tomas Apodaca</a> and is currently
maintained by <a href="http://www.flickr.com/people/dschweisguth/">Dave
Schweisguth</a>.</p>

<p>This software may be copied and modified for non-commercial purposes. This
software may not be used for commercial purposes without permission from the
maintainer. Anyone using this software must</p>
<ul>
<li>notify the maintainer</li>
<li>retain the "Source code" link on the software's home page</li>
</ul>

<p>This product uses the Flickr API but is not endorsed or certified by Flickr.</p>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
