<% content_for :title do %>About<% end %>
<h1>About Guess Where Watcher</h1>

<p>Guess Where Watcher (GWW) is the scoring, statistics and search application for the Guess Where SF
Flickr group. It was written by <a href="https://www.flickr.com/people/tma/">Tomas Apodaca</a> and
is currently developed by <a href="https://www.flickr.com/people/dschweisguth/">Dave Schweisguth</a>.</p>

<h2>Licensing</h2>

<p>This software may be copied and modified for non-commercial purposes. This
software may not be used for commercial purposes without permission from the
maintainer. Anyone using this software must</p>
<ul>
<li>notify the maintainer</li>
<li>retain the "Source code" link on this page</li>
</ul>

<p>This product uses the Flickr API but is not endorsed or certified by Flickr.</p>

<h2>Inside GWW</h2>
<ul>
  <li>See <a href="https://www.flickr.com/services/apps/72157622606839772/">screenshots of GWW (including administrative pages) in Flickr's App Garden.</a></li>
  <li><a href="https://github.com/dschweisguth/gww/">GWW source code</a> lives on Github.</li>
  <li>GWW is tested on and deployed by <a href="https://www.jetbrains.com/teamcity/">the JetBrains TeamCity continuous integration server</a>.</li>
  <li><a href="http://guesswherewatcher-backups.s3-website-us-west-2.amazonaws.com/">Backups of GWW's mysql database</a> live in a publicly accessible AWS S3 bucket.
    Anyone is welcome to download one for safe keeping or to do their own analysis.
    </li>
  <li><a href="https://uptimerobot.com/">Uptime Robot</a> tells us when GWW is down.</li>
</ul>
<p>Sincere thanks to all of the companies and individuals whose free software and services make GWW possible.</p>

<hr/>
<%= render 'shared/breadcrumbs' %>
