<%= head_javascript 'app/bookmarklet' %>
<%= title_and_h1 '"View in GWW" bookmarklet' %>

<p>Don't follow the link below; add it to your bookmarks.</p>

<p>It lets you jump from a Flickr photo page to that photo's page in
Guess Where Watcher, so you can see whether and how the photo has been scored.</p>

<p>You can also jump from any Flickr page that belongs to a person but isn't a photo page
(for example, <a href="http://www.flickr.com/people/octoferret/">http://www.flickr.com/people/octoferret/</a> or
<a href="http://www.flickr.com/photos/octoferret/">http://www.flickr.com/photos/octoferret/</a>)
to that's person's GWW page.</p>

<p>(Unfortunately, GWW doesn't know about custom URLs yet, so you can't jump to
a person's GWW page unless their custom URL is the same as their username.)</p>

<a id="bookmarklet" href="">View in GWW</a>

<h2>To add "View in GWW" to your bookmarks,</h2>

<h3>Firefox</h3>
<p>Either</p>
<ul>
  <li>drag the link to your bookmarks toolbar, or</li>
  <li>right-click (Windows) or control-click (Mac) on it and choose Bookmark This Link.</li>
</ul>
<h3>Internet Explorer</h3>
<ul>
<li>Right-click on the link</li>
<li>Choose Add to Favorites</li>
<li>If you see Security Alert, tell IE that yes, you want to continue. "View in GWW" does nothing unsafe; IE is just being cautious.</li>
<li>Change 'Create in' to Links, so the link goes to your Links toolbar</li>
<li>Choose Add</li>
</ul>

<h2>To use "View in GWW",</h2>

<p>Go to a Flickr photo page or a Flickr page that belongs to a person and
click on or select "View in GWW". You'll be taken to the photo or person's page in GWW.</p>

<hr/>
<%= render 'shared/breadcrumbs' %>
