/* General */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  font-weight: bold;
}

img {
  border: 0;
}

.clear {
  clear: both;
}

.inline {
  display: inline-block;
  margin: 0 3px;
}

.new-list-item {
  color: red;
  display: inline-block;
  padding-left: 10px;
}

/* TODO Dave extract */
.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

/* Tables */

table {
  padding: 0;
  margin-top: 6px;
}

th {
  text-align: left;
}

.dark .empty {
  border: 0;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
}

.dark th, .row-number, .darker {
  font-size: 11px;
  font-weight: bold;
}

.dark th, .dark td, .darker {
  padding: 3px 5px 3px 5px;
  vertical-align: top;
}

.dark th, .dark td {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.dark th {
  background-color: #dddddd;
}

.dark .row-number {
  background-color: #ffffff;
  padding: 3px 3px 3px 0;
  text-align: right;
  vertical-align: middle;
}

.dark td {
  background-color: #eeeeee;
}

.number {
  text-align: right;
}

/* / */

.spacious {
  line-height: 200%;
}

.error {
  color: red;
}

/* /people/top_guessers, /guesses/longest_and_shortest */

.opening-number {
  font-weight: bold;
  text-align: right;
}

/* /people/top_guessers */

.container {
  margin: 0;
}

.container td {
  vertical-align: top;
}

.container table {
  width: 300px;
  margin: 0 0 18px 0;
}

.darker {
  background-color: #cccccc;
  margin: 0 0 18px 3px;
  width: 285px;
}

/* /guesses/longest_and_shortest */

.thumbnail {
  text-align: center;
}

/* /people/# */

.trophies {
  margin-left: 30px;
}

.trophies td {
  width: 110px;
  padding-right: 10px;
}

.trophies-text {
  vertical-align: top;
}

.trophies-places img, .trophies-places span {
  vertical-align: middle;
}

a.normal {
  font-weight: normal;
}

.photo-links a {
  display: inline-block;
  padding: 0 2px;
}

.unconfirmed {
  background-color: #ffcc33;
}

.unmapped {
  background-color: #e7e7e7;
}

/* /people/#/map */

#map_canvas {
  width: 100%;
  height: 900px;
}

/* /people/#/map/#/post, guess */

#info-window {
  width: 250px;
}

#info-window img {
  display: block;
  margin: 0 auto;
}

/* /photos/#, /admin/photos/#/edit */

#photo, #sidebar {
  float: left;
}

#photo {
  width: 640px;
}

#title {
  font-size: 18px;
}

.when {
  width: 100px;
}

#comments-header {
  font-size: 16px;
}

#comments form, .comment {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0;
}

.comment {
  width: 640px;
}

.comment strong {
  display: inline-block;
  margin-bottom: 2px;
}

.ago {
  color: #bbbbbb;
  font-size: 11px;
}

#sidebar, #map {
  width: 300px;
}

#sidebar {
  margin-left: 35px;
}

#story {
  font-size: 12px;
  color: #666666;
}

#map, #no-map {
  margin: 10px 0;
}

#map {
  height: 100px;
}

#no-map {
  width: 238px;
  padding: 30px;
  border: 1px solid #666666;
}

#statistics {
  width: 300px;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 16px;
}

.tags {
  list-style-type: none;
  padding: 0;
}

.tags li {
  display: inline-block;
  border: 1px solid #666666;
  border-radius: 3px;
  padding: 1px 5px;
  margin: 0 5px 5px 0;
  color: #666666;
}

/* /wheresies/# */

.float {
  float: left;
  padding-right: 30px;
}

/* /admin */

.button_to, .button_to div {
  display: inline;
}

/* /admin/photos/#/edit */

.edit {
  font-size: 11px;
}

#comments form {
  width: 150px;
}

.edit .comment {
  width: 486px;
}

.poster {
  background-color: #cccccc;
}

.accepted {
  text-decoration: underline;
}

#username_form input {
  margin: 2px 0;
}

#answer_text {
  width: 500px;
}

/* /admin/score_reports */

.top-justified td {
  vertical-align: top;
}

.forget {
  width: 300px;
}
