form {
  padding-bottom: 12px;
}

input, select {
  margin-right: 6px;
}

form table, form div {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

table {
  margin: 0;
}

.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

select {
  vertical-align: top;
}

#photos > div {
  display: inline-block;
  height: 240px;
  line-height: 240px; /* the height in which the child's vertical-align: middle applies */
  margin: 0 8px 8px 0;
}

#photos > div > div {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; /* reset line-height inherited from the parent */
}

#photos > div > div > div {
  height: 52px;
  position: relative;
  bottom: 60px;
  padding: 8px 5px 0 5px;
  z-index: 1;
}

#photos > div > div > div.bg {
  bottom: 63px;
  margin-bottom: -63px;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}

#photos > div > div > div p, #photos > div > div > div .game-status {
  margin: 0 0 2px 0;
  color: white;
  font-size: 11px;
  text-shadow: 1px 1px 0 black;
  opacity: 1.0;
  visibility: hidden;
}

#photos > div > div > div p.by {
  visibility: visible;
}

#photos > div > div > div a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

#photos > div > div > div a:hover {
  background-color: blue;
}

#photos > div > div > div div {
  position: relative;
}

#photos > div > div > div .game-status {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  height: 240px;
}
